.rw-rating-table {
	position: relative !important;
	width: auto !important; /* Needed for proper first column width calculation */
}

.rw-rating-table.rw-center {
	margin: auto !important;
}

.rw-rating-table.rw-right {
	margin-left: auto !important;
}

.rw-rating-table,
.rw-rating-table tbody,
.rw-rating-table td,
.rw-rating-table tr {
    border: none !important;
}

.rw-rating-table td {
	padding: 0 !important;
}

.rw-rating-table td:first-child {
	white-space: nowrap; /* IE needs this */
	word-wrap: normal; /* IE needs this */
	position: relative;
}

.rw-rating-table td:first-child nobr {
	vertical-align: middle !important;
}

.rw-rating-table td:last-child {
	left: 10px;
	padding-bottom: 10px !important;
	position: relative;
}

/* RTL */
.rw-rating-table.rw-rtl {
	direction: rtl;
}

.rw-rating-table.rw-rtl td {
	text-align: right;
}

.rw-rating-table.rw-rtl td:last-child {
	left: 0;
	right: 10px;
}

.rw-rating-table.rw-rtl .rw-left {
	text-align: right;
}